
.formstyle {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#button-container {
  background-color: #004A8D;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
}
#button-container {
  background-color: #F7941D;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
}
