/* homeprojeto.module.css */



.Container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.screenContainer > .link-secundary {
    display: block;
    margin-top: 10px;
    text-decoration: none;
}

.homeContainer > .button {
    margin-top: 20px;
    background-color: var(--button-background);
    color: var(--button-text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: left;
    transition: background-color 0.3s, color 0.3s;
}

.homeContainer > .button.exit-button {
    background-color: var(--exit-button-background);
}

.homeContainer button:hover {
    background-color: var(--button-hover);
    color: #fff;
}

.homeContainer > .button:active {
    background-color: var(--button-clicked-background);
    color: var(--button-clicked-text-color);
}

.subtitle {
    color: black; /* Alterado para preto */
}

.link {
    color: var(--secondary-color);
}

.button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--button-hover);
}