/* loginprojeto.module.css */

.loginContainer screen {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f2f2f2;
 
}

.loginContainer {
  text-align: center;
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

.Container i {
  font-size: 48px;
  color: #004A8D; /* Azul para login */
}

.loginContainer form {
  margin-top: 20px;
}

.loginContainer label {
  display: block;
  margin-top: 10px;
}

.loginContainer input {
  width: 90%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.loginContainer button {
  margin-top: 20px;
  background-color: #004A8D; /* Azul para login */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.loginContainer button:hover {
  background-color: #0059a9; /* Cor de destaque no hover para login */
}

.loginContainer .register-button {
  margin-top: 10px;
}

.loginContainer .register-button button {
  background-color: #F7941D; /* Laranja para cadastro profissional */
}
